<h1>Stores within 25 miles of 80220</h1>
<h2><%= @stores.count%> total stores </h2>
<% @stores.each do |store| %>
<ul>
  <li><%= store.name %></li>
  <li><%= store.store_id %></li>
  <li><%= store.store_type %></li>
  </ul>
<%end%>